<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/paciente/solicitud/{{rut}}" method="post">
                        <div class="form-group">
                            <p>Ingrese motivo de su solicitud</p>
                            <textarea class="form-control" name="motivo" placeholder="Ingrese su motivo" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg w-100" style="background-color:#4983A4;">
                                Enviar Solicitud
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
