<html>
	<head>
	    <title>Fondo de prueba</title>
	</head>

	<body background="fondo1.jpg" bgcolor="FFCECB">

	<table width="550" bgcolor=4054B2 align=center>
	<div class="container p-4">
         <tr>
            <td>

            <h1 style="color:white">Proximo...</h1>
            <p style="color:white">Pagina principal, contenido por ver<p>
			<a class="btn btn-primary btn-block" href="paciente/listap" role="button">Solicitar Hora Medica</a>

            </td>
	    </tr>

		
    </div>
	</table>

	</body>
	</html>